#overlay{
display: none;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 1;
background-color: rgba(0,0,0,0.5);

}

#modal{
    max-width: 300px;
    height: 300px;
    margin: auto;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    box-shadow: 0 0 35px black;
}

.modalContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.modalContentContainer h1{
    color: rgb(78, 77, 77);
    font-size: 1.3rem;
}

.modalContentContainer label{
    font-size: 0.5rem;
    font-weight: bold;
    text-align: right;
    width: 110px;
    margin-right: 1rem;
}

.modalContentContainer input{
    max-width: 60px;
    text-align: center;
}

.modalContentContainer p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.madalHeader{
    display: flex;
    justify-content: right;
    padding: 0.3rem;
    background: red;
}

.main-website{
    height: 90vh;

}

.buttonClose{
    background-color: red;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(212, 11, 11);
    box-shadow: inset 2px 2px 10px white;
    cursor: pointer;
}

.buttonClose:active{
    transform: scale(0.9);
}

.saveButton{
    background-color: green;
    color: white;
    border-radius: 25px;
    border: 1px solid green;
    padding: 0.5rem;
    box-shadow: inset 2px 2px 10px white;
    cursor: pointer;
}

.saveButton:active{
    transform: scale(0.9);
}

.smallButton{
    width: 110px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.068);
    margin: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    background: linear-gradient(to right, rgb(172, 171, 171), rgb(214, 214, 214));
    box-shadow: inset 2px 2px 4px white;

}
