* {
  font-family: sans-serif;
}

.lightTheme {
  background: white;
  color: black;
}

.darkTheme {
  background: #0b101b;
  color: #b9f9fd;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#overlay2 {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal {
  max-width: 600px;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0b101b;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 35px black;
          box-shadow: 0 0 35px black;
  color: white;
}

#modal2 {
  max-width: 600px;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0b101b;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 35px black;
          box-shadow: 0 0 35px black;
  color: white;
}

.showRest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.modalContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
}

.modalContentContainer h1 {
  color: #4e4d4d;
  font-size: 1.3rem;
}

.modalContentContainer label {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: right;
  width: 110px;
  margin-right: 1rem;
}

.modalContentContainer input {
  max-width: 60px;
  text-align: center;
  background-color: lightblue;
  color: black;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  border-radius: 5px;
  height: 20px;
}

.modalContentContainer select {
  background-color: lightblue;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
}

.startTimeInput {
  min-width: 90px;
  text-align: center;
  background-color: lightblue;
  color: black;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  border-radius: 5px;
  height: 20px;
}

.modalContentContainer p {
  width: 90%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e6edf0;
  padding: 5px;
}

.madalHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem;
  background: #4b5558;
}

.buttonClose {
  background-color: red;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 1px solid #d40b0b;
  -webkit-box-shadow: inset 2px 2px 10px white;
          box-shadow: inset 2px 2px 10px white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
}

.buttonClose:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.saveButton {
  background-color: green;
  color: white;
  border-radius: 25px;
  border: 1px solid green;
  padding: 0.5rem;
  -webkit-box-shadow: inset 2px 2px 10px white;
          box-shadow: inset 2px 2px 10px white;
  cursor: pointer;
  width: 130px;
  height: 38px;
}

.saveButton:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.smallButton {
  width: 110px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.068);
  margin: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  color: black;
  /* background: linear-gradient(to right, rgb(172, 171, 171), rgb(214, 214, 214)); */
  -webkit-box-shadow: inset 2px 2px 4px white;
          box-shadow: inset 2px 2px 4px white;
}

.settingButton {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: gray;
  margin: 9px;
  border-radius: 25px;
}

.main-website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.circleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  border-radius: 30px;
}

.track {
  stroke-width: 1;
  stroke: rgba(211, 211, 211, 0.7);
  fill: none;
  stroke-width: 30;
}

.progress {
  stroke-width: 30;
  stroke: #0ca6ff;
  stroke-linecap: round;
  fill: none;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.percentText {
  font-size: 43px;
  font-weight: bold;
  font-family: sans-serif;
  fill: orange;
}

.lightPercentColor {
  fill: black;
}

.setButton {
  width: 160px;
  height: 40px;
  border-radius: 25px;
  background-color: orange;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border: 1px solid gray;
  -webkit-box-shadow: inset 2px 2px 5px white;
          box-shadow: inset 2px 2px 5px white;
  cursor: pointer;
  /* Vermeidet Text Selektion */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.setButton:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.timeContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  margin: auto;
  text-align: center;
}

.timer {
  font-size: 3rem;
  margin: 0;
}

.startEndTimeLabels {
  font-weight: bold;
  font-size: 1.5rem;
}

.fa-droplet {
  color: blue;
}

.waterunit {
  background-color: lightblue;
  padding: 11px;
  margin-right: 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 255, 0.596);
  color: black;
}

.waterunit.active {
  -webkit-box-shadow: 0 0 16px lightblue, inset 2px 2px 3px black;
          box-shadow: 0 0 16px lightblue, inset 2px 2px 3px black;
}

.drank {
  color: aqua;
  font-size: 2rem;
  font-weight: bold;
}

.waterAnimation {
  -webkit-animation: waterEffect 1.5s infinite linear;
          animation: waterEffect 1.5s infinite linear;
}

@-webkit-keyframes waterEffect {
  from {
    text-shadow: 4px 0 3px turquoise;
    color: #2d2dfa;
  }
  to {
    text-shadow: 0 0 30px turquoise;
    color: aqua;
  }
}

@keyframes waterEffect {
  from {
    text-shadow: 4px 0 3px turquoise;
    color: #2d2dfa;
  }
  to {
    text-shadow: 0 0 30px turquoise;
    color: aqua;
  }
}

.resetButton {
  background-color: red;
  padding: 8px;
  border-radius: 10px;
  margin: 5px;
}
/*# sourceMappingURL=style.css.map */